body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 150px;
}
nav {
    text-align: right;
    overflow: hidden;
}
nav ul {
    padding-left: 0;
}
nav li {
    display: inline-block;
}
nav a {
}
nav h1 {
    float: left;
}
.about-me {
    overflow: hidden;
}
.about-me img {
    width: 200px;
    float: right;
    margin: 10px;
}
.first-computer, .analytical-engine, .ada-programming {
    overflow: hidden;
}
.first-computer img, .analytical-engine img, .ada-programming img {
    width: 100px;
    float: left;
    margin-right: 10px;
}
.skills img {
    margin-right: 10px;
}